
body{
    background-color: #FFF5E6;
    height: 100vh;
    // background-image: url(../images/bg_2.png);
    // width: 100%;
    // background-repeat: repeat;
    // position: absolute;
    // top: 0;
    
}

.blue_color{
    background-color: #AEC2E1;
}
.purple_color{
    background-color: #B2B1D6;
}
.pink_color{
    background-color: #E5C2C2;
}
