

//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
body{
    background-color: #FFF5E6;
    height: 100vh;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    //font-family: 'Lobster Two', cursive;
    //font-family: 'Source Code Pro', monospace;
    //font-family: 'Josefin Sans', sans-serif;
    // background-image: url(../images/bg_2.png);
    // width: 100%;
    // background-repeat: repeat;
    // position: absolute;
    // top: 0;
    
}

.blue_color{
    background-color: #AEC2E1;
    border: 3px solid #AEC2E1;
}
.purple_color{
    background-color: #B2B1D6;
    border: 3px solid #B2B1D6;
}
.pink_color{
    background-color: #E5C2C2;
    background-color: #E5C2C2;

}
