
.port_content{
   // display: flex;
    margin:0 130px ;
    margin-top: 85px;
    padding: 30px;
    .four_dots_line{
        display: flex;
        margin-top: -16px;
        div{
            width: 30px;
            height: 30px;
            margin: 20px;
            background: url(../images/dot.png) no-repeat 100%;
        }
        p{
            font-size: 35px;
            font-weight: 800;
            letter-spacing: 1.2px;
            margin-top:8px;
            color: #AF9981;


        }
    }
    .port_pic{ 
        margin: 50px;   
        margin-top: 20px; 
        display: flex;
        justify-content: space-evenly;
        
    
        .card_port{
            border: solid px rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: #AF9981;
            width: 400px;
            height: 350px;
            margin: 10px 30px;
            text-decoration: none;
            
            
                .card-body{
                    height: 280px;
                    background-color: #efebdd;
                    border-radius: 10px 10px 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
                .card-title{
                    height: 70px;
                    border-radius:  0 0 10px 10px ;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #c1b3a3;
                    h4{
                        
                        color: white;
                        font-size: 1.5rem;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        
                    }
                }
            
          
        }
        
        
        
    }
    .em_pic:hover,.grapic_pic:hover{
        transform: scale(1.1,1.1);
        
    }
    .em_pic{
        width:350px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease-out;
        
       
    }
    .grapic_pic{
        width:250px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease-out;

    }
    
   
 
  
    
  
    
}