.arrow_box{
    margin: auto;
        // position: absolute ;
        // top: 0;
        // left: 60px;
        // bottom: 50px;
        // right: 0;
    .up_arrow{
    margin:15px auto ;
    display: flex;
    width: 30px;
    height: 30px;
    color: #D6C3B1;
    opacity:.2;
}
.up_arrow:hover{
    opacity:1;
}
}
.port_content{
    display: flex;
    margin:60px 130px ;
    padding: 30px;
    .four_dots_line{
        display: flex;
        margin-top: -16px;
        div{
            width: 30px;
            height: 30px;
            margin: 20px;
            background: url(../images/dot.png) no-repeat 100%;
        }
        p{
            font-size: 35px;
            font-weight: 800;
            letter-spacing: 1.2px;
            margin-top:8px;
            color: #AF9981;


        }
    }
    .port_pic{
        width: 400px;
        height: 250px;
        margin-top: 25px;
        // margin-left: px;
        
        
        
    }
    
   
 
  
    
  
    
}