.re_content{
    display: flex;
    margin:70px 130px ;
    padding: 30px;
    .four_dots_line{
        display: flex;
        margin-top: -16px;
        img{
            width: 23px;
            height: 23px;
            margin: 23px 15px 20px 20px ;
            max-width: 100%
            // background: url(../images/dot.png) no-repeat 100%;
        }
        h6{
            font-size: 35px;
            font-weight: 800;
            letter-spacing: 1.2px;
            margin-top:14px;
            color: #AF9981;


        }
    }
   
    
    
    .re_10pic{
        width: 400px;
        height: 300px;
        margin-top: 25px;
        
        
        
        .pic10_re{
            width: 300px;
            height: 300px;
            border-radius: 50% 50%;
            border: solid 15px white;
            // background-size: 100%;
            background-image: url(../images/resumePic.jpg);
            background-position: 410px 410px ;
            background-size: 220%;
           
        }
    }
    
    .accordion{
        --bs-accordion-bg: #efebdd;
        margin-top: 8px;
        padding: 0 10px;
        min-width: 320px;
        //width: 100px;
        
       
        .accordion-button{
            background-color: #c1b3a3;
            border-bottom: solid 5px #ffffff;
            color: rgb(255, 255, 255);
            padding: 18px;
            padding-left: 20px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1px;
        }
        .accordion-button::after {
           background-image: url(../images/chevron-down-solid_1.png);
            
        }
        .accordion-button:not(.collapsed)::after {
           background-image: url(../images/chevron-down-solid_1.png);
            // background-image: var(--bs-accordion-btn-active-icon);
        }
   
        
        .accordion-item {
            border: none;
            .accordion-body{
                color: #646464;
                letter-spacing: 1px;
                .re_edu_content{
                    h6{
                        font-size: 12px;
                        margin: 5px 0;
                    }
                    span{
                    font-weight: 600;
                }
                }
                .re_exp_content{
                    display: flex;
                    justify-content: space-around;
                    margin-left:-15px;
                    
                    h6{
                        font-size: 12px;
                    }
                    span{
                    font-weight: 700;
                }
                }
                .re_skill_content{
                    display: flex;
                    
                    margin-left:0;
                    span{
                        font-weight: 600;
                   }
                    .web_dev{
                        margin-left: 30px;
                    span{
                         font-weight: 600;
                    }
                    
                }
                }
                
            }
        }

    }
    
  
    
}
@media screen and (max-width:1000px){
    .re_content{
        margin: 16px auto;
        padding: 10px;
        
        

        .four_dots_line{
            display: flex;
            justify-content: center;
            img{
                width: 20px;
                height: 20px;
            }
            h6{
                font-size: 30px;
            }
        }
        
    }
    .re_10pic{
        margin: 20px auto -10px;
        display: flex;
        justify-content: center;
        
        
    }
    .accordion{
        //margin-top: 30px;
        margin-bottom: 80px;
        .accordion-item {
            border: none;
            .accordion-body{
                color: #646464;
                letter-spacing: 1px;
                .re_edu_content{
                    h6{
                        font-size: 12px;
                        margin: 5px 0;
                    }
                    span{
                    font-weight: 600;
                }
                }
                .re_exp_content{
                    display: flex;
                    justify-content: space-around;
                    margin-left:-15px;
                    h6{
                        font-size: 8px;
                    }
                    span{
                    font-weight: 700;
                }
                }
                .re_skill_content{
                    display: flex;
                    
                    margin-left:0;
                    span{
                        font-weight: 600;
                   }
                    .web_dev{
                        margin-left: 30px;
                    span{
                         font-weight: 600;
                    }
                    
                }
                }
                
            }
        }
        
    }
   
    .row>* {
        margin-top: 50px;
        padding-right: 13px;
   
    }
    
}
@media screen and (max-width:768px){
    .re_content{
        .accordion{
            .accordion-item {
                .accordion-body{
                    .re_exp_content{
                        flex-wrap: wrap;
                        justify-content: start;
                        margin-left:3px;
                        font-size: 20px;
                        div{
                           
                             h6{
                            font-size: 14px;
                            letter-spacing: .5px;
                            }
                            span{
                            font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
   
    
}
@media screen and (max-width:500px){
    .re_content{
        .four_dots_line{
            display: flex;
            justify-content: center;
            img{
                width: 16px;
                height: 16px;
            }
            h6{
                margin-top: 15.5px;
                font-size: 26px;
            }
        }
         .re_10pic{
            width: 250px;
            height: 250px;   
            .pic10_re{
                width: 250px;
                height: 250px;
                background-position: 335px 335px ;
            
            }
        }
        .accordion{
            padding: 0;
            .accordion-item {
                border: none;
                .accordion-body{
                    color: #646464;
                    letter-spacing: 1px;
                    justify-content: space-between;
                    .re_about_content{
                        font-size: 18px;
                    }
                    .re_edu_content{
                        font-size: 18px;
                        div{
                            margin: auto 7px;
                            h6{
                                font-size: 14px;
                                margin: 5px 0;
                            }
                            span{
                                font-weight: 600;
                            }
                        }
                        
                    }
                    .re_exp_content{
                        
                        flex-wrap: wrap;
                        justify-content: start;
                        margin-left:3px;
                        font-size: 18px;
                        div{
                           
                            margin: 10px ;
                            // flex-wrap: wrap;
                             h6{
                            font-size: 14px;
                            letter-spacing: .5px;
                            }
                            span{
                            font-weight: 700;
                            }
                        }
                       
                    }
                    .re_skill_content{
                        display: block;
                        flex-wrap: wrap;
                        justify-content: start;
                        margin:5px 10px;
                        font-size: 20px;
                        div{
                            padding-bottom: 15px;
                            span{
                            font-weight: 600;
                       }
                        }
                       
                        .web_dev{
                            margin-left: 0;
                            padding-bottom:0;
                            .noneBr{
                                display: none;
                            }
                        span{
                             font-weight: 600;
                        }
                        
                    }
                    }
                    
                }
            }
        }
    }
   
    
}


